<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	{% load i18n pages_tags %}
	<title>
        {% block title %}
        {% if main_page_title %}
                {{ main_page_title }}
        {% else %}
                {% firstof metadata.title object.title %}
        {% endif %}
        {% endblock %}
    </title>
    {% block keywords %}
    {% if metadata %}
        <meta name="description" content="{{ metadata.meta_description }}">
        <meta name="keywords" content="{{ metadata.meta_keywords }}">
    {% else %}
        {% if object %}
        <meta name="description" content="{{ object.meta_description }}">
        <meta name="keywords" content="{{ object.meta_keywords }}">
        {% endif %}
    {% endif %}
    
    {% endblock %}
	{% load i18n pages_tags %}
	<link href="{{MEDIA_URL}}css/style.css" rel="stylesheet" type="text/css" />
	<script src="http://ajax.googleapis.com/ajax/libs/dojo/1.4/dojo/dojo.xd.js" type="text/javascript"></script>
</head>
	<body class="map">
		<div>
			{% include "slogan.html" %}
			<div class="menu">
				{% include "menu.html" %}
			</div>
			<div class="content">
				<div class="saint"> {% trans "St. Petersburg" %}</div>
				<div class="moscow"> {% trans "Moscow" %}</div>
				<div class="pekin"> {% trans "Beijing" %}</div>
				<div class="shanx"> {% trans "Shanghai" %} </div>						
			</div>
			<div class="links">
				<ul>
					{% news 10 %}
				</ul>
  			</div>
  			<br clear="all" />
			<div class="footer footer3">
				<table width="1000px">
					<tr>
						<td class="td1" style="padding: 0"> {{ footer.text1|safe }} </td>
						<td class="td2"> {{ footer.text2|safe}} </td>
						<td class="td3"> {{ footer.text3|safe }} </td>
						<td class="td4"> {{ footer.text4|safe }} </td>
					</tr>
				</table>
			</div>	

		</div>
		{% include 'qa.html' %}
	</body>
</html>
