{% extends "base.html" %}
{% load pages_tags i18n %}
{% block content %}
		<div class="content">
			<div class="left1">
				<b class="news">{% trans "News" %}</b>
				<ul>
					{% news 10 %}
				</ul>			
				</div>
			<div class="right">
				<div class="text">
					<h3> {{object.h1 }} </h3>
					{{ object.content|safe }}	
				</div>
				<div class="service">
					{% if is_news %}
						{% if object.right %}
							{{object.right|safe}}
						{% else %}
							{{news_text.text_right|safe}}
						{% endif %}
					{% else %}
					{{ object.right|safe }}
					{% endif %}
				</div>
			</div>
		</div>
{% endblock %}